body {
	background-color: rgba(255, 255, 255, 0.8);
}

.container {
	margin: 0 auto;
}

.middle {
	margin: 0 auto;
	background-color: rgba(17, 0, 27, 1);
}

.main {
	background-image: url('../images/stage4.gif');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 1500px 500px;
	padding-left: 100px;
	min-width: 1200px;
	width: 1500px;
	height: 500px;
	margin: 100px auto 0 auto;
}

.ryu {
	float: left;
}

.ryu-ready, .ryu-still, .ryu-throwing, .ryu-cool {
	width: 659px;
	height: 494px;
}

.ryu-ready, .ryu-throwing, .ryu-cool {
	display: none;
}

.ryu-ready {
	background-image: url('../images/ryu-ready-position.gif');
}

.ryu-still {
	background-image: url('../images/ryu-standing-still.png');
}

.ryu-throwing {
	background-image: url('../images/ryu-throwing-hadouken.png');
}

.ryu-cool {
	background-image: url('../images/ryu-cool.gif');
}

.hadouken, .ryu-ready, .ryu-still, .ryu-throwing {
	background-repeat: no-repeat;
}

.hadouken {
	background-image: url('..//images/hadouken.gif');
	width: 156px;
	height: 90px;
	display: none;
	position: relative;
	top: 175px;
	left: -212px;
	float: left;
}

.directions {
	text-align: right;
	margin-right: 50px;
	padding-top: 100px;
	font-size: 1.5em;
	font-family: Cursive;
	font-weight: bold;
	color: #ffffff;
	text-shadow:5px 7px 7px #ff0a0a;
}

.logos{
	height: 220px;
	width: 1900px;
}

#sf {
	float: left;
	background-image: url('../images/sf-logo.png');
	background-repeat: no-repeat;
	background-size: 600px 250px;
	width: 650px;
	height: 300px;
	margin-left: 100px;
	margin-top: 20px;
	display: none;
}

#jquery {
	float: right;
	background-image: url('../images/jquery-logo.png');
	background-repeat: no-repeat;
	background-size: 500px 200px;
	width: 600px;
	height: 300px;
	display: none;
}

.footer {
	text-align: center;
	margin-top: 50px;
}

p {
	height: 40px;
	font-size: 30px;
	font-weight: bold;
	background: -webkit-linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
	background: linear-gradient(right, rgba(0,0,0,1), rgba(0,0,0,.5) 50%, rgba(0,0,0,1));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}